/* Change Brand Font */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #F0AAB1;
}

/* Make Header Image Responsive */
.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 90vh;
  border-radius: 0px;
  margin-top: 74px;
}

/* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}

a {
  color: black;
}

.active {
  color: white;
  background-color: #DC3545;
}

a:hover {
  color: #f26571;
}

/* Change Footer Icon Link Color */
.fi-color {
  color: #DC3545;
}

fi-color:hover {
  color: #E994A2;
}

/* Plus Button for adding New Users Bottom Right */
.box {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-bottom: 30px;
}

/* Setting Margin for Welcome to OSMS */
.mainHeading {
  margin-top: 50px;
}

/* Setting Margin and Alignment for Welcome to OSM Mobile View */
@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}